<nav class="navbar navbar-light bg-light flex-md-nowrap p-0">
  <a class="fashion-logo navbar-brand col-md-2 d-1 d-md-1" href="/"></a>

<ul class="nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Xin chào Admin
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Hỗ trợ</li>
      <li>
        <a href="/" target="_blank">
          <i class="fas fa-fighter-jet"></i> Đi đến website MyStyle</a>
      </li>
      
    </ul>
  </li>
  <li>
    <a href="/customer/account/logout">
      <span class="fas fa-sign-out-alt"></span>Log out
    </a>
  </li>
</ul>
  {{!-- <ul class="navbar-nav px-3 ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="admin" style="color:rgb(175, 174, 174);">
        <span data-feather="home"></span>
        <i class="far fa-user"></i>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="DangNhap">
        <span class="fas fa-sign-out-alt"></span>Log out
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul> --}}
</nav>