<nav id="column-left">
  <div id="navigation">
    <span class="fas fa-bars"></span>Thanh điều hướng
  </div>
  <ul id="menu" class="tab">
    <li id="menu-dashboard">
      <a href="/">
        <i class="fas fa-tachometer-alt"></i>Bảng điều khiển</a>
    </li>
    <li id="donhang">
      <a href="#collapse26" data-toggle="collapse" class="parent collapsed">
        <i class="fas fa-shopping-cart fw"></i>Đơn hàng</a>
      <ul id="collapse26" class="collapse">
        <li>
          <a href="/admin">Tất cả đơn hàng</a>
        </li>
      </ul>
    </li>

    <li id="sanpham" >
      <a href="#collapse1" data-toggle="collapse" class="parent collapsed">
        <i class="fas fa-tags fw"></i> Sản phẩm</a>
      <ul id="collapse1" class="collapse">
        <li><a href="/admin/danhmucsanpham">Tất cả danh mục</a></li>
        <li><a href="/admin/sanpham">Tất cả sản phẩm</a></li>
      </ul>
    </li>
    <li id="taikhoan"><a href="/admin/taikhoankhachhang"><i class="fas fa-user fw"></i> Tài khoản khách hàng</a></li>
    </li>
    <li id="thongke"><a href="/admin"><i class="fas fa-chart-bar"></i> Thống kê</a></li>
  </ul>
</nav>