<nav id="column-left">
  <div id="navigation">
    <span class="fas fa-bars"></span>Thanh điều hướng
  </div>
  <ul id="menu" class="in">
    <li id="menu-dashboard">
      <a href="https://demo.opencart.com/admin/index.php?route=common/dashboard&amp;user_token=HocmUjHUORspxOaHxsY2UGkTkOBiQFrd">
        <i class="fas fa-tachometer-alt"></i>Bảng điều khiển</a>
    </li>
    <li id="menu-catalog" class="active">
      <a href="#collapse1" data-toggle="collapse" class="parent collapsed">
        <i class="fas fa-tags fw"></i> Mục lục</a>
      <ul id="collapse1" class="collapse">
        <li class="active"><a href="/admin/catalog">Tất cả danh mục</a></li>
        <li><a href="/admin/sanpham">Tất cả sản phẩm</a></li>
      </ul>
    </li>
    <li id="menu-sale">
      <a href="#collapse26" data-toggle="collapse" class="parent collapsed">
        <i class="fas fa-shopping-cart fw"></i> Sales</a>
      <ul id="collapse26" class="collapse">
        <li>
          <a href="https://demo.opencart.com/admin/index.php?route=sale/order&amp;user_token=HocmUjHUORspxOaHxsY2UGkTkOBiQFrd">Tất cả đơn hàng</a>
        </li>
      </ul>
    </li>
    <li id="menu-customer"><a href="admin/customer"><i class="fas fa-user fw"></i> Khách hàng</a></li>
  </ul>
</nav>