<!DOCTYPE html>
<html>
    <head>
        {{>general_head}}
        {{!-- <link rel="stylesheet" href="/my_css/general-style.css"> --}}
        <link rel="stylesheet" href="/my_css/admin_style.css">
        <link rel="stylesheet" href="/my_css/spectrum.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
<body>
    <header id="header">
    {{>ad_header}}  
    </header>

    {{>left_menu_admin}}

    <div id="content">
        {{{body}}}
    </div>
    
    <script type="text/javascript" src="/my_js/main.js"></script>
    <script src="/my_js/data.js"></script>

    
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBGqAosk5O2EmaIGdg_8PsXDwRRVn4mtp8",
        authDomain: "mystyle-22836.firebaseapp.com",
        databaseURL: "https://mystyle-22836.firebaseio.com",
        projectId: "mystyle-22836",
        storageBucket: "mystyle-22836.appspot.com",
        messagingSenderId: "132539527704"
    };
    firebase.initializeApp(config);
    </script>
</body>


</html>