<html>

<head>
    {{>general_head}}
    <link rel="stylesheet" href="/my_css/general-style.css">
    <link rel="stylesheet" href="/my_css/checkout.css">
</head>

<body>
    <div id="header" class="hd-simple">
        <div id="header-inner">
            <div class="logo">
                <a class="navbar-brand top-head-logo" href="/" title="Smarter Shopping, Better Living!"></a>
            </div>
        </div>
    </div>

    {{{body}}} {{!-- My javascript --}}

    <script type="text/javascript" src="/my_js/main.js"></script>
</body>

</html>