<html>
<head>
    {{>general_head}}
    <link rel="stylesheet" href="/my_css/general-style.css">
    <link rel="stylesheet" href="/my_css/checkout.css">
</head>
<body>

    {{{body}}} {{!-- My javascript --}}

    <script type="text/javascript" src="/my_js/main.js"></script>
</body>
</html>