<html>
<head>
    {{>general_head}}
    <link rel="stylesheet" href="/my_css/general-style.css">
</head>

<body>
    <header>
        {{>header}}
    </header>

    {{{body}}} {{!-- My javascript --}}

    {{>footer}}
    <script type="text/javascript" src="/my_js/main.js"></script>
</body>

</html>