
    {{>head}}



    <header>
        <div id="top-header" class="d-none d-md-flex">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <a href="">Giảm giá từ 5%-70% cho hơn 1,50,000 mẫu áo</a>
                    </div>
                    <div class="col-md-7 right-top-header">
                        <a href="">Hỗ trợ</a>
                        <span>|</span>
                        <a href="">Theo dõi đơn hàng</a>
                        <span>|</span>
                        <div class="user-profile">
                            <span>Chào</span>
                            <span>Lê Công Cảnh</span>
                            <div class="box">
                                <ul class="user-ajax-customer">
                                    <li><a href="" title="Thông tin tài khoản" rel="nofollow">Thông tin tài khoản</a></li>
                                    <li><a href="../order/history" title="Đơn hàng của tôi" rel="nofollow">Đơn hàng của tôi</a></li>
                                    <li><a href="../../index" title="Đăng xuất" rel="nofollow">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-header" style="position: relative;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-10">
                        <nav class="navbar navbar-expand-md navbar-light">

                            <a class="navbar-brand top-head-logo" href="#"></a>
                            <button class="navbar-toggler" type="button" onclick="openNav()">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="d-none d-md-flex">
                                <ul class="navbar-nav mr-auto upper">
                                    <li class="nav-item">
                                        <a class="nav-link" href="../../index">Trang chủ
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sản phẩm</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">mẫu áo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../../design">Tự thiết kế</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="col-md-4 col-2 d-flex align-items-center justify-content-end">
                        <div class="top-head-user float-right">
                            <div class="shopping-cart-wrapper">
                                <a href="#" class="bag-shopping-cart" title="View bag">
                                    <span class="fas fa-shopping-bag"></span>
                                    <span class="cart-count">0</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="breadcrumb-area">
        <div class="container" style="padding: 0">
            <ul class="breadcrumb">
                <li>
                    <a href="">Trang chủ</a>
                <li>
                    <a href="">Thông tin tài khoản</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="container" id="main">
        <div class="row">
            <div class="col-md-3 left-col">
                <div class="profiles">
                    <!-- <p class="image">
                        <img src="" height="45" width="45" alt="avatar">
                    </p> -->
                    <p class="name">Tài khoản của</p>
                    <h6>Lê Công Cảnh</h6>
                </div>
                <div class="menu">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="active">
                        <a href="./edit">
                            <i class="fas fa-user"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="./order/history">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Quản lý đơn hàng</span>
                        </a>
                    </li>
                </ul>
                </div>
                
            </div>
            <div class="col-md-9 right-col">
                <h1 class="have-margin">Thông tin tài khoản</h1>
                <div class="account-profile register-form">
                    <form class="content" method="post" action="/customer/account/edit" id="edit-account">
                        <div class="form-group">
                            <label class="control-label" for="full_name">Họ Tên </label>
                            <div class="input-wrap">
                                <input type="text" name="full_name" class="form-control" id="full_name" value="Lê Công Cảnh" placeholder="Họ tên">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label off" for="email">Email</label>
                            <div class="input-wrap">
                                <input type="email" disabled="" value="lccanh97@gmail.com" class="form-control" name="email" id="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group gender-select-wrap" id="register_name">
                            <label class="control-label" for="pasword">Giới tính</label>
                            <div class="input-wrap">
                                <div class="container-fluid">
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label>
                                                        <input type="radio" name="gender" value="on" id="male" class="gender" checked="checked">
                                                        <span>
                                                            <i class="ico"></i>
                                                        </span>
                                                        Nam
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>
                                                        <input type="radio" name="gender" value="off" id="female" class="gender" >
                                                        <span>
                                                            <i class="ico"></i>
                                                        </span>
                                                        Nữ
                                                    </label>
            
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>

                        <span class="group-title"><strong>Thay đổi mật khẩu</strong></span>
                        <div class="password-group">
                            <div class="form-group">
                                <label class="control-label" for="old_password">Mật khẩu cũ</label>
                                <div class="input-wrap">
                                    <input type="password" name="old_password" class="form-control" id="old_password" value="" autocomplete="off" placeholder="Nhập mật khẩu cũ">
                                    <span class="help-block"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label" for="new-password">Mật khẩu mới</label>
                                <div class="input-wrap">
                                    <input type="password" name="new_password" class="form-control" id="new_password" value="" autocomplete="off" placeholder="Mật khẩu từ 6 đến 32 ký tự">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="re_new_password">Nhập lại</label>
                                <div class="input-wrap">
                                    <input type="password" name="re_new_password" class="form-control" id="re_new_password" value="" autocomplete="off" placeholder="Nhập lại mật khẩu mới">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-row form-row-button">
                            <button type="submit" value="Register" name="dwfrm_profile_confirm">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      {{>footer}}

