<head>
    <link rel="stylesheet" href="/my_css/design_page.css">
    <link rel="stylesheet" href="/my_css/spectrum.css">

</head>

<div id="content">
    <div class="container-fluid">
        <div id="tool-top" class="row">
            <div class="tool-top-nav">
                <a href="#" onclick="Rotate()">
                    <img src="\image\icon-rotate.png">
                    <p>Xoay </p>
                </a>
                <a href="#" width="80px" onclick="Zoom()">
                    <img src="\image\icon-zoom+.png">
                    <p>Phóng to </p>
                </a>
                <a href="#" onclick="Smaller()">
                    <img src="\image\icon-zoom-.png">
                    <p>Thu nhỏ </p>
                </a>
                <a href="#" onclick="ResetAll()">
                    <img src="\image\icon-trash.png">
                    <p>Tạo lại </p>
                </a>
               

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="tab nav nav-tabs">

                    <a class="active" style="padding-left: 0;padding-top:10px" data-toggle="tab" href="#list-shirt">
                        <img src="\image\icon-shirt.png">
                        <p>Chọn áo </p>
                    </a>
                    <a data-toggle="tab" href="#list-text">
                        <img src="\image\icon-text.png">
                        <p>Thêm chữ </p>
                    </a>
                    <a data-toggle="tab" href="#list-image">
                        <img src="\image\icon-image.png">
                        <p>Thêm ảnh </p>
                    </a>
                    <a data-toggle="tab" href="#Upload">
                        <img src="\image\icon-upload.png">
                        <p>Tải ảnh </p>
                    </a>
                    <a data-toggle="tab" href="#Save_as_png" onclick="load_design()">
                        <img src="\image\icon-save.png">
                        <p>Lưu áo </p>
                    </a>

                </div>



                <div class="tab-content tabcontent">
                    <div id="tab-title">Nội dung</div>
                    <div id="list-shirt" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://image.ibb.co/hfJKfS/shirt_1.png" alt="https://image.ibb.co/gv8PYc/shirt_1_back.png " 
                                                     
                                    style="width:120px ; height:120px" onclick="Choose_shirt(this.src,this.alt)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">

                                    <img src="https://image.ibb.co/no6Qn7/shirt_2.png" alt="https://image.ibb.co/kAsJtc/shirt_2_back.png" style="width:120px ; height:120px" onclick="Choose_shirt(this.src,this.alt)">
                                    

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://image.ibb.co/eVmx0S/shirt_3.png" alt="https://image.ibb.co/gv8PYc/shirt_1_back.png" style="width:120px ; height:120px" onclick="Choose_shirt(this.src,this.alt)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">

                                    <img src="https://image.ibb.co/cqm0n7/shirt_4.png" alt="https://image.ibb.co/gv8PYc/shirt_1_back.png" style="width:120px ; height:120px" onclick="Choose_shirt(this.src,this.alt)">


                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="list-text" class="tab-pane fade">
                        <form style="text-align:left" name="text_form" id="text_form" onsubmit="return addtext()">
                            <input type="text" id="text_box" name="text_box" required placeholder="Nhập chữ vào đây">


                            <label>Chọn kiểu chữ:</label>
                            <select id="select" name="text_font" value="1" onChange="return fontChange();">
                            </select>
                            <label>Chọn màu chữ:</label>


                            <input type='text' id="text_color" />
                            <div style="height:40px">

                            </div>
                            <input id="submit_text" type="submit" class="inputfile" />
                            <label for="submit_text">Thêm vào áo!</label>
                        </form>
                    </div>
                    <div id="list-image" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://preview.ibb.co/i3dkLS/image_1.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">

                                    <img src="https://image.ibb.co/mTQRS7/image_2.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">


                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">

                                    <img src="https://image.ibb.co/k6Ft77/image_4.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://preview.ibb.co/dywx0S/image_3.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://preview.ibb.co/hFMi77/image_5.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="https://image.ibb.co/kRYPEn/image_6.png" alt="NONE" style="width:100px ; height:100px" onclick="Choose_Img(this.src)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Upload" class="tab-pane fade">
                        <div id="image_upload_zone_border">

                            <div id="image_upload_zone">
                                Ảnh của bạn
                            </div>
                            <img onclick="Choose_Img(this.src)" style="display:none" id="image_upload" src="" alt="ảnh của bạn">

                        </div>
                        <p id="Upload_title"></p>
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file">Chọn ảnh từ máy</label>

                    </div>
                    <div id="Save_as_png" class="tab-pane fade">
                        <div id="image_save_zone_border">

                            
                           
                            
                        </div>
                        <img src="\image\icon-refresh.png" class="refesh" onclick="load_design()">
                        
                        <input id="btn_save_as" class="inputfile" onclick="return save_as()" />
                        <label for="btn_save_as">Tải về máy!</label>

                        

                        <input id="btn_upload" class="inputfile" onclick="return uploadEx()" />
                        <label for="btn_upload">Lưu thiết kế</label>
                        
                        <form method="post" accept-charset="utf-8" name="form1">
                                    <input name="hidden_data" id='hidden_data' type="hidden"/>
                                    <input name="hidden_data_back" id='hidden_data_back' type="hidden"/>
                                    <input name="hidden_data_email" id='hidden_data_email'  type="hidden" value={{user.email}}/>
                                    <input name="hidden_data_size" id='hidden_data_size'  type="hidden" />
                                    <input name="hidden_data_quantity" id='hidden_data_quantity'  type="hidden" />
                                    <input name="hidden_data_cookie" id='hidden_data_cookie'  type="hidden" />
                        </form>
 
                    </div>
                </div>
            </div>
            <div id="shirt" class="col-md-5">

                <div id="shirt-area" >

                    <img id="design-shirt" src="https://image.ibb.co/hfJKfS/shirt_1.png" alt="https://image.ibb.co/gv8PYc/shirt_1_back.png">
                    <div id="design-area">


                    </div>

                </div>

                <div id="shirt-back-area" style="display:none" >

                    <img id="design-back-shirt" src="https://image.ibb.co/gv8PYc/shirt_1_back.png" alt="Shirt image">
                    <div id="design-back-area">


                    </div>

                </div>

            </div>


            <div id="order-box">


                <form action="" style="width:100%">

                    <h4 id="shirt-title" style="text-align:center">Sản phẩm</h4>
                    <p>
                        Tên sản phẩm: Áo Trọng Nhân
                                             
                      
                     
                    </p>
                    <!--
                        <div id="shirt-size" style="width:100% ">
                                Số lượng: 
                                <input style="width:80%" class="size" type="number" name="so_luong"> 
                                <br/>
                                Cỡ áo: <br/>
                                <p style="margin:5px; text-align:left">
                                        XS <input class="size" type="number" name="XS" >
                                        S
                                        <input class="size" type="number" name="S">
                                        <br/>
                                        M<input  style="margin:0 10px" class="size" type="number" name="M">
                                            L <input class="size" type="number" name="L">
                                        <br/>
                                        XL<input class="size" type="number" name="XL">
                                        XXL<input class="size" type="number" name="XXL">
                                </p>

                        </div>

                                            <div style="text-align:center">
                        <input id="btn-order" type="button" value="Đặt hàng" onclick="return SendToCart()">
                    </div>
                    -->


                    <div  id="form-select-attributes" style="width:100%">
                        <div>
                            <dt class="i-detail-title">Cỡ áo: </dt>
                            <dl class="i-detail-wrapper">
                               
                            
                                <dd class="i-detail-main  "style="margin-left:10%">
                                    <ul id="i-select-size" data-type="select" >
                                        <li><span title="Chọn kích cỡ: S" >S</span></li>
                                        <li><span title="Chọn kích cỡ: M" >M</span></li>
                                        <li><span title="Chọn kích cỡ: L" >L</span></li>
                                        <li><span title="Chọn kích cỡ: XL" >XL</span></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dt class="i-detail-title">Số lượng: </dt>
                            <dl class="i-detail-wrapper">

                                <div class="number-input" style="width:50%; margin-left:23%">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-touchspin-first" type="button">-</button>
                                        </div>
                                        <input type="tel" min="1" value="1" id="pd_quantity" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-touchspin-secondary" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row" style="text-align:center" >
                        <button class="btn-noradius" id="add-to-cart" type="button" onclick="return SendToCart()" title="Thêm sản phẩm vào giỏ hàng của bạn" disabled="disabled">
                        <span>Thêm vào giỏ hàng</span>
						<svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
							<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
						</svg>
                        </button>
                    </div>


                </form>
                <input id="Design_store" class="inputfile" onclick="return open_Store()"  />
                <label for="Design_store">Thiết kế của tôi!</label>


            </div>



        </div>

    </div>









</div>


<div id="myModal" class="modal">
        <!-- Nội dung form đăng nhập -->
        
        <div class="modal-content">
            <span id="modal_close" class="close" onclick="return close_modal()">&times;</span>
             <h4 id="shirt-title" style="text-align:center">Thiết kế của tôi</h4>
            <form action="#" style="overflow-y:auto; overflow-x:hidden; height:400px" >
                
                
                    <div  id="modal-image-list" class="row" style="margin-left:5px;">
                    {{#each customproducts}}
          
                        <img id={{id}} src={{url}} alt={{url1}} class="modal_image" height="240px" width="240px" onclick="Choose_Img_Modal(this.id)">

                    {{/each}}
                     </div>
            </form>
            <div class="row" >
                <button id="btn_modal_close"  type="button" class="btn btn-default btn-block active" style="position: absolute; width:70px;height:35px; margin:7px;margin-left:480px ">Thoát</button>
                <button id="btn_modal_delete"  type="button" class="btn btn-default btn-block disabled" style="position: absolute; width:70px;height:35px;margin:7px;margin-left:580px">Xóa</button>
                <button id="btn_modal_use" onclick="return Use_design()" type="button" class="btn btn-default btn-block disabled" style="position: absolute; width:70px;height:35px;margin:7px;margin-left:680px">Dùng</button>
            </div>
            
        </div>
</div>


    



{{!-- 1553023 - javascript --}}
<script src="/my_js/design_page.js"></script>
<script src="/my_js/spectrum.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script src="https://superal.github.io/canvas2image/canvas2image.js"></script>