<div class="homepage-parallex">
    <div class="container">
        <div class="row">
            <div class="col-md-7 parallex-cnt">
                <h1>T-SHIRT DESIGN</h1>
                <h2>MAKE YOUR STYLE DIFFERENCE!</h2>
                <a href="design" class="btn-special">get started</a>
                {{breadcrumb.url}}
            </div>
            <div class="col-md-5">
                <div id="slider">
                    <div class="slide">
                        <img src="/image/slider_shirt.png">
                    </div>
                    <div class="slide">
                        <img src="/image/slider_shirt_3.png">
                    </div>
                    <div class="slide">
                        <img src="/image/slider_shirt_2.png">
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="featured-products">
                    <h2 class="page-heading">Sản phẩm giảm giá</h2>
                    <div class="product-main clearfix">
                        <div class="product-homepage col-md-3">
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a class="img-change" href="/product" onmouseover="hvr(this,'in')" onmouseleave="hvr(this,'out')">
                                        <img src="/upload/mystyle-model-0pfg6iufas8evxvus1kdmg.png" class="bell mx-auto" col="g">
                                        <img src="/upload/mystyle-model-6nmyu7br3u14i62syxvc6j.png" class="bell" style="display:none" col="b">
                                        <span class="product-badge new">Mới</span>
                                        <span class="product-badge sale">-10%</span>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <a class="product-name" href="/product">Áo phông Bi137</a>
                                    <div class="product-price">
                                        <span class="money money-sale">200,000</span>
                                        <span class="money-text">còn</span>
                                        <span class="money">180,000</span>
                                        <form method="post">
                                            <a href="/product" class="btn-option" title="Choose options">Lựa chọn</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view bg-black-900">
                                <a href="/product">Xem nhanh</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script type="text/javascript" src="/js/index.js"></script>