

<head>

  {{>ad_head}}
  <link href="/my_css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">
        <b>THÊM DANH MỤC SẢN PHẨM</b>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Tên Danh mục</label>
            <input class="form-control" id="exampleInputEmail1" type="email" placeholder="Nhập tên danh mục">
          </div>
          <a class="btn btn-primary btn-block" href="KhoHang">Hoàn tất</a>
        </form>
        <div class="text-center">
          <a class="d-block small" href="KhoHang"> ❮❮ Quay lại</a>
      </div>
    </div>
  </div>

</body>


