<head>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<div class="col-xs-12">
  <div class="wellcome-screen">
    <img src="image/logo.svg" style="width:800px;" class="center">
    <h1>
      <p class="message text-center">Xin chào Admin! Chúc bạn làm việc hiệu quả!</p>
    </h1>
  </div>
</div>