body{
    background-color: #f4f4f4;
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
}

#main{
    position: relative;
}

@media (min-width: 576px){
.form-inline .input-group {
    width: auto;
    margin-right: 12px;
}
}

.nav-link{
    color:rgb(124, 124, 124);
    font-size: 17px;
    padding: 1em;
}

.text-center{
    margin-top: 1em;
}

/*---------------------------------
        Navbar Styles
-----------------------------------*/
.nav:before, .nav:after {
    content: " ";
    display: table;
}

#header .navbar-right > li {
    border-left: 1px solid #eee;
}

#header .nav > li {
    display: inline-block;
}

.nav > li {
    position: relative;
    display: block;
}

@media (min-width: 768px){
.nav > li {
    float: left;
}

#header .nav > li > a {
    padding: 0px 21px;
    line-height: 45px;
    cursor: pointer;
    color: #6D6D6D;
    border-left: 0px solid #E1E1E1;
}

@media (min-width: 768px){
    .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    }
}

@media (min-width: 768px){
    .navbar-right {
        float: right !important;
        margin-right: -15px;
}

#header .navbar-right {
    margin-right: 0;
    margin: 0px 0px 0px 0px;
    float: right;
}

/*---------------------------------
        Dropdown menu Styles
-----------------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15); 
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
    -box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #777;
    white-space: nowrap;
}
/*---------------------------------
        Left menu Styles
-----------------------------------*/
#column-left {
    width: 235px;
    height: 100%;
    overflow: auto;
    background-color: #242d37;
    position: absolute;
    left: -235px;
    z-index: 10;
  }

  @media (min-width: 768px) {
    #column-left {
      left: 0px;
    }
  }

  #navigation {
    text-transform: uppercase;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    background: #19222E;
    display: block;
  }

 #column-left .fas {
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    margin-right: 5px;
  }

  #column-left+#content,
  #column-left+#content+#footer {
    position: relative;
    left: 0px;
    margin-left: 235px;
    min-height: 800px;
  }

  @media (min-width: 768px) {
    #column-left+#content,
    #column-left+#content+#footer {
      left: 0px;
    }
  }

#menu {
    margin-bottom: 25px;
}

#menu, #menu ul, #menu li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menu > li {
    position: relative;
    border-bottom: 1px solid rgb(43, 54, 66);
}

#menu > li.active > a {
    color: #0b91d2;
    background-color: #171b21;
}

#menu, #menu ul, #menu li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menu > li > a {
    color: rgb(179, 203, 221);
    padding-left: 20px;
    border-bottom: 0px solid rgb(88, 88, 88);
}

#menu li a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-bottom: 0px solid rgb(81, 81, 81);
}

#menu > li > a:hover {
    background-color: #444444;
}

#menu li a.parent:after {
    font-family: "Font Awesome 5 Free";
    float: right;
    margin-right: 8px;
}

#menu li a.parent:after {
    content: "\f078";
}


#menu li a.collapsed:after {
    content: "\f105";
}

#menu > li > ul {
    background-color: #293141;
}

#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li ul a {
    color: #7f8a9b;
    padding-left: 20px;
}

#menu li li a:hover {
    color: #FFFFFF;
    background-color: #242d37;
}

#menu li li a:before {
    content: "\f101";
    font-size: 13px;
    font-family: "Font Awesome 5 Free";
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
}

/*---------------------------------
        Content Styles
-----------------------------------*/
@media (min-width: 768px){
#column-left + #content, #column-left + #content + #footer {
    left: 0px;
    margin-left: 235px;
}

.page-header {
    vertical-align: middle;
    padding: 0;
    border-bottom: 1px solid #e9e9e9;
}

.container-fluid h1{
    margin-top:20px;
}

.page-header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #4c4d5a;
    display: inline-block;
    margin-bottom: 15px;
    text-shadow: 0 1px #fff;
}

.breadcrumb {
    display: inline-block;
    background: none;
    margin: 8px 0 19px 0;
    padding: 0 10px;
    border-radius: 0;
}

.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px #fff;
}

.breadcrumb li a {
    color: #999999;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.breadcrumb > li:last-child a {
    color: #1e91cf;
}

.breadcrumb li + li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    color: #BBBBBB;
    padding: 0 5px;
    font-size: 10px;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

/*---------------------------------
        Panel Styles
-----------------------------------*/
.panel {
    border: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-radius: none;
}

.panel .panel-heading {
    position: relative;
}

.panel .panel-heading {
    color: #4c4d5a;
    border-color: #dcdcdc;
    background: #f6f6f6;
    text-shadow: 0 -1px 0 rgba(50,50,50,0);
}

.panel-heading {
    padding: 12px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-heading h3 {
    font-weight: 500;
    display: inline-block;
}

.panel .panel-heading .panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}


.panel-body {
    padding: 15px;
}

/*---------------------------------
        Table Styles
-----------------------------------*/
.img-thumbnail {
    height: 60px;
    padding: 0;
}

table ul{
    list-style: none;
}


/* .img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 40px;
} */

/*---------------------------------
        Nav-tab Styles
-----------------------------------*/
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs {
    margin-bottom: 25px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
}

.nav-tabs > li > a {
    color: #a5a5a5;
    border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
    text-decoration: none;
}

div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.form-group{
    padding-top: 15px;
}

.control-label{
    font-weight: 600;
}

.control-label, .form-control{
    font-size: 14px;
}

.form-group + .form-group {
    border-top: 1px solid #ededed;
}

.tab-pane .table-responsive{

}

/*---------------------------------
        Product-image
-----------------------------------*/
#i-product-images img{
    width: 100%;
}

#i-product-images .btn{
    width: 100%;
}
#i-product-images .col-md-3{
    border-right: 1px solid #ededed;
}

#i-product-images .col-md-3:last-child{
    border-right: none;
}


/*---------------------------------
        Logo Styles
-----------------------------------*/
.logo{
    width: 240px;
    height: 48px;
    display: block;
    margin: 0rem;
}

/* header .container{
    text-align: center;
} */

header .container::before{
    content: '';
    height: 100%;
}

.center{
    margin: 0 auto;
}

.right{
    float: right!important;
}

.left{
    float: left;
}
    
.upper{
    text-transform: uppercase;
}

#wrapper-nav-utilities{
    float: right;
}

.fashion-logo{
    padding: 8px 0;
    background-image: url("/image/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.fashion-logo a{
    padding: 8px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

@media (min-width: 40rem){
    .fashion-logo{
        width: 12rem;
        height: 3rem;
        margin-left: 2.5em;
    }
}

#myPieChart{
    display: block;
    width: 50px;
    height: 50px;
}

.nav-link:hover{
    color: rgb(163, 163, 163);
}


#white-background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}

#dlgbox{
    /*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}

#dlg-header{
    background-color: #212529;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
}

#dlg-body{
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

#dlg-footer{
    background-color: #f2f2f2;
    text-align: right;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

#dlg-footer button{
    background-color: #007bff;
    color: white;
    padding: 5px;
    border: 0px;
}
.input{
    padding: 5px;
}