/*1553002*/
a, *{
    font-size: 14px;
}

.default-margin-top{
    margin-top: 10px;
}

.panel-heading .panel-title{
    font-size: 25px;
    font-weight: 400;
}

.upper{
    text-transform: uppercase;
}
.products-header{
    text-transform: uppercase;
}

.products-container{
    margin-top: 20px;
}
.products-container .name, .products-container .code{
    text-transform: uppercase;
    margin-top: 10px;
}

.products-container .col-md-3{
    flex: 0 0 19%;
}
.product{
    border: 1px solid #f3f3f3;
    margin-left: .7%;
    box-sizing: border-box;
    display: inline-block;
    height: 262px;
    margin-bottom: .7%;
}

.product img{
    text-align: center;
    margin: 30px 0 10px 0;
    width: 100%;
    height: 100%;
}

.p{
    text-align: center;
}

.products-header{
    padding: 20px 0 0 20px;
    position: relative;
}
.products-header>h3{
    float: left;
}

.products-header ul{
    display: inline;
    margin-left: 10px;
}

.products-header ul li{
    display: inline-block;
    padding: 8px 11px;
    margin-right: 10px;
    border: 2px solid #288ad6;
    border-radius: 3px;
}

.products-header ul li.active{
    background: #e3effd;
    border: 1px solid #94c1f4;
}

.products-header ul li a{
    color: #288ad6!important;
    cursor: pointer;
}

span.name{
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 2px;
    line-height: 18px;
    padding: 0 3px;
    background: #fff;
    text-transform: uppercase;
}

label.code{
    height: 18px;
    margin: 0;
    position: initial;
    background: none;
    font-size: 14px;
}

.hidden{
    display: none;
}

.cart-item-area{
    display: flex;
    justify-content: center;
}

.shopping-cart-item{
    background-color: #fff;
    margin: 0;
}

.cart-col{
    float: left;
}

.main{
    display: flex;
    justify-content: center;
}

.left-col{
    width: 800px;
    background-color: #fff;

}

.right-col{
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #000;
    width: 300px;
}

.table thead th {
    font-weight: 400;
    font-size: 14px;
}

.pd-info-detail .pd-pic{
    float: left;
    width: 80px;
}

.pd-info-detail .pd-pic img{
    width: 80px;
    height: 80px;
}

.item-product .action a{
    font-size: 13px;
}

.pd-link {
    margin: 0 0 12px 95px;
}

.pd-attribute {
    margin-left: 95px;
    min-height: 18px;
}

.pd-attribute dt {
    float: left;
    color: #999;
    margin-right: 5px;
}

.pd-price .price{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    padding-top: 0;
}

.pd-price .price2{
    font-size: 12px;
    margin-bottom: 8px;
    text-decoration: line-through;
    color: #a2a2a2;
}

.pd-price-title {
    color: #999;
    margin: 0 2px 0 15px;
    line-height: 18px;
}

.pd-price-total{
    color: #fe3834;
    font-size: 22px;
    font-weight: 400;
}

.form-row-button{
    margin-top: 10px;
    justify-content: flex-end;
}

.button, .buttonstyle, a[type=button], button, input[type=button] {
    font-weight: 700;
    background-color: #000;
    border: 1px solid #000; 
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    letter-spacing: .6px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
}

.empty-cart {
    margin: 1em;
}

.empty-cart .message{
    margin: 30px;
}

.empty-cart a{
    font-size: 18px;
    color: blue;
}