.panel{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 20px 20px 0 20px;
}

.module-title{
    padding: 0 0 5px 0!important;
    padding-bottom: 5px;
    border-bottom: 3px solid #c9c9c9;
}

.module-title span{
    text-transform: none;
}


.cart .product .item .price {
    float: right;
    margin-bottom: 0;
}

/*---------------------------------
        Header Styles
-----------------------------------*/
#header-inner {
    position: relative;
    height: 85px;
    margin: 0 auto;
    width: 990px;
}

.hd-simple .logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 180px;
    height: 52px;
}

/*---------------------------------
        Step status Styles
-----------------------------------*/
.process-min{
    margin-bottom: 25px;
}

.ui-step-normal li {
    list-style: none;
    float: left;
    margin: 0;
}
.ui-step-normal .col4 li {
    width: 33.3%;
}

.ui-step-normal li span {
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 15px 0 0;
    text-align: center;
    display: block;
}

.ui-step-normal li.current span {
    background-color: #F90;
    color: #FFF;
}

.ui-step-normal li span {
    background: #E8E8E8 url(/image/sprite-step.9a13befc.png) no-repeat 100% 0;
    color: #666;
}

.ui-step-normal li span.last, .ui-step-normal li.last span {
    background-position: 100% -200px;
}



@media (min-width: 1200px){
    .address-form form {
        max-width: 550px;
        margin: 0 auto;
    }
}

.btn-custom2 {
    width: 49%;
    background: #f7f7f7;
    border-color: #e1e1e1;
    margin-right: 1%;
}

.address-form.is-edit .btn-custom2 {
    display: inline-block!important;
    width: 47%;
    margin-right: 1%;
}


.btn-custom2, .btn-custom3 {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    font-size: 13px;
    outline-color: #ccc;
}

.address-form.is-edit .btn-custom3 {
    display: inline-block;
    width: 50%;
}

.heading-title p {
    font-size: 20px;
    font-weight: 700;
}

.heading-title{
    margin-top: 0;
    font-size: 18px;
    color: #5f5f5f;
}

.cart{
    margin-top: 45px;
}

.text-right {
    text-align: right;
}

.item .title a{
    font-size: 12px;
}

.product .item{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #c9c9c9;
    font-size: 11px;
}

.ship-price span{
    float: right;
}

.ship-price{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #c9c9c9;
}

.total2 span{
    color: red;
    font-size: 20px;
}

.total2 span + span{
    float: right;
}

.checkout{
    margin-top: 1.5em;
}

.product .item .title {
    width: 200px;
    float: left;
}

.border .well {
    background: #58b712;
    font-size: 25px;
    color: #fff;
    border: none;
    text-align: center;
    font-weight: 400;
    position: relative;
    border-radius: 5px;
    width: 150px;
    margin: auto;
}

.success{
    margin-left: auto;
    margin-right: auto; 
    display: block;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.panel-body {
    padding: 5em 15px 0;
}

/* div div h3{
    margin-top: 1em;
    margin-bottom: 10px;
    color: red;
} */

/* div div div p {
    margin: 8px;
}

div div div p a {
    color: blue;
} */

.panel-body .success .content{
    margin: 1em;
    margin-bottom: 2.5em;
}

