body{
    background-color: #f4f4f4;
    line-height: normal;
}

/* #main-header, #main-area{
    background-color: #fff;
    overflow: hidden;
} */

.white-panel{
    border-radius: 4px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.white-panel {
    width: 100%;
    padding: 20px;
}

.detail-main{
    float: left;
    width: 100%;
    margin-top: 15px;
}

.gallary-wrap{
    width: 568px;
    float: left;
    position: relative;
}

.thumbnail-main{
    float: left;
}

.preview-main{
    padding-left: 80px;
}
.preview-main img{
    max-width: 100%;
    width: 500px;
    height: 500px;
}

.thumbnail-item img{
    border: 1px solid #ececec;
    margin-bottom: 5px;
}

.thumbnail-item:hover img{
    border: 3px solid #f90;
    border-radius: 4px;
    line-height: 24px;
}

.thumbnail-item img{
    border-radius: 2px;
    width: 60px;
    height: 60px;
}

.detail-wrap{
    margin-left: 568px;
    border-left: 1px solid #e9e9e9;
}

.detail-wrap .detail-header{
    border-bottom: 1px solid #ececec;
}

.detail-wrap .detail-header .i-name{
    font-size: 24px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
    margin: 16px 0 5px;
}

 .i-detail-wrapper{
    margin: 19px 0 2px;
    position: relative;
    display: flex;
    align-items: center;
}

.i-detail-title, .i-del-content, .availability span{
    font-size: 13px;
    color: #9b9b9b;
    font-weight: 300;
}

.i-del-content{
    padding: 5px 0 5px;
}

.i-detail-wrapper .i-detail-title{
    width: 75px;
}

.i-price-main .i-special-price span#i-price,
.i-special-price span#i-symbol{
    color: #ff3425!important;
    font-size: 24px;
}

.item-attribute-area{
    padding: 10px 0;
    /* background-color: #fafafa; */
}

.i-detail-wrapper .i-detail-title{
    width: 75px;
    float: left;
    text-align: left;
    line-height: 14px;
    word-wrap: break-word;
}

/* #i-select-size{
    display: inline;
} */

.i-detail-wrapper .i-detail-main ul li{
    float: left;
    margin: 0 10px 3px 0;
}

.i-detail-wrapper .i-detail-main ul li span{
    float: left;
    border: 1px solid #e9e9e9;
    line-height: 28px;
    height: 30px;
    padding: 0 10px;
    color: #333;
    background-color: #fff;
    text-align: center;
}

.i-detail-main ul li:hover span, .i-detail-main ul li:hover div{
    border: 3px solid #f90;
    line-height: 24px;
    padding: 0 8px;
    text-decoration: none;
    cursor: pointer;
}

.i-detail-main ul li.selected span, .i-detail-main ul li.selected div{
    border: 3px solid #f90;
    line-height: 24px;
    padding: 0 8px;
    text-decoration: none;
    cursor: pointer;
}

.detail-header, .i-price-area, .item-attribute-area{
    padding-left: 24px;
}

.input-group{
    width: auto;
}

.alarm-ico{
    width: 24px;
    height: 24px;
    background-image: url("../image/alarm-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.deal-process{
    margin: 19px 0;
    font-size: 13px;  
}

.deal-time{
    text-align: start;
}

.number-input{
    display: inline-block;
}

.input-group{
    display: -webkit-box;
}

.input-group>.form-control{
    width: 84px;
    text-align: center;
}

.row{
    margin: 0;
}

.availability{
    display: inline-block;
    margin-left: 20px;
}

.square-color{
    height: 28px;
    width: 28px;
}

/* -------------------------------- 
Product Customization
-------------------------------- */
#add-to-cart {
    position: relative;
    overflow: hidden;
    height: calc(32px + 0.375rem);
  }

#add-to-cart {
    width: calc(80% - 23px);
}

#add-to-cart {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: black;
}

#add-to-cart span {
    /* this is the button text message */
    /* position: absolute;
    top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

#add-to-cart svg {
    /* this is the check icon */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* move the icon on the right - outside the button */
    -webkit-transform: translateX(50%) translateY(-50%);
    -moz-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    -o-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#add-to-cart.is-added span {
    /* product added to the cart - hide text message on the left with no transition*/
    color: transparent;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;
}

#add-to-cart.is-added svg {
    /* product added to the cart - move the svg back inside the button */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;
}

.product-table-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 40px 0 10px;
    display: inline-block;
    width: 100%;
}

.product-main .module-body{
    padding: 10px;
}

.product-item .product-img a {
    width: 256px;
    height: 256px;
}

/* -------------------------------- 
Product Table detail
-------------------------------- */

.table>tbody>tr>td:first-child{
    color: #4f4f4f;
    font-size: 13px;
    font-weight: 500;
    background: #efefef;
    border-right: 1px solid #d5d5d5;
}

.table>tbody>tr>td:nth-child(2), .table>tfoot>tr>td:nth-child(2), .table>tfoot>tr>th:nth-child(2) {
    padding: 10px 15px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #d5d5d5;
    border-left: 0;
    border-right: 0;
}

.table>tbody>tr>td:last-child {
    color: #242424;
    font-size: 13px;
    background: #fff;
}

.item-action-area{
    text-align: center;
    margin-top: 50px;
}