#main{
    margin-top: 30px;
}

/* Profiles */
#main .right-col .account-profile {
    display: block;
    margin-bottom: 20px;
    width: 100%!important;
    padding: 30px 20px 20px!important;
    background: #fff;
    border-radius: 4px;
}

#main .right-col .account-profile form {
    width: 60%;
}

.form-group::before, .form-group::after{
    display: table;
    content: "";
    clear: both;
}

.profiles::before{
    display: table;
    content: "";
    clear: both;
}

.profiles .name {
    font-size: 13px;
    margin-bottom: 5px;
    color: #242424;
    margin-top: 5px;
    font-weight: 300;
}


.profiles h6 {
    margin: 0;  
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #242424;
}
/* Menu */
.menu ul {
    list-style: none;
    display: block;
    background: 0 0;
    border: none;
    width: 100%;
    position: relative;
    margin: 0;
    z-index: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu ul li a {
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.menu ul li.active a, .menu ul li:hover a {
    color: #000;
    text-decoration: none;
    background: #ececec;
    border-radius: 2px;
}
.dropdown-header, .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857;
    white-space: nowrap;
}

.menu ul li a i {
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    color: #999;
}